
<div class="card mb-5 mt-3 h-100 w-100">
      <img [src]="Product.image" class="card-img-top">
      <div class="card-body text-center">
        <h6 class="card-title">{{Product.title}}</h6>
        <h6 class="card-subtitle  text-muted">{{Product.category}}</h6>
        <p class="card-text">{{Product.price |pipePrice}}</p>
        <p  class="card-text" [ngStyle]="{'color': Product.rating.count != 0 ? 'green' : 'red' }">{{Product.rating.count|pipeCount}}</p>
        <a href="#" class="btn btn-primary mt-auto">ADD TO CART</a>
      </div>
    </div>

